results/LC_prelim/out0gelmanRubin0.tsv
results/LC_prelim/out0gelmanRubin1.tsv
results/LC_prelim/out0gelmanRubin2.tsv
results/LC_prelim/out0gelmanRubin3.tsv
/results
/scripts/BURL/build
/scripts/BURL_coverage/BURL_coverage/build
*.xcuserstate
*.xcuserstate
